<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>
        Schedule Experiment
    </title>
    <style>
        .custom-col-xl-2-5 {
            width: 20%;
            margin-top: 5px;
            padding: 0 5px; /* Adjust padding as needed */
        }
        .loader {
            border: 8px solid #f3f3f3;
            border-radius: 50%;
            border-top: 8px solid blue;
            border-bottom: 8px solid blue;
            width: 80px;
            height: 80px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }

        @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- <div class="col-auto col-md-4 col-xl-2 px-sm-3 px-0 bg-info"> -->
            <div class="col-auto col-md-4 custom-col-xl-2-5 px-sm-3 px-0 bg-danger">

                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline"></span><br><br>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-0 text-white">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('experimentConfig') }}" class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Experiment Config</span> 
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('scheduleExperiment') }}" class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Transformations</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('scheduleExperiment') }} " class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Scheduling Experiment</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle text-white">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Results and Dashboard</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>
            <div class="col py-3">
                <h4>Schedule Experiment</h4>
                <br>
                <br>
                    <form action="{{ url_for('trainModel') }}" method="POST">
                        <div class="mb-3">
                            <label for="algorithmSelect" class="form-label">Select Algorithm</label>
                            <select name="algorithmsselected" class="form-select" id="algorithmSelect" multiple>
                                <!-- <option selected disabled>Select Algorithm</option> -->
                                <option value="NBEATS">NBEATS</option>
                                <option value="ARIMA">ARIMA</option>
                                <option value="MultiTaskGaussian">MultiTaskGaussian</option>
                                <option value="SARIMA">SARIMA</option>
                                <option value="LSTM">LSTM</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="datetimeselect" class="form-label">Select DateTime Column</label>
                            <select name="selddatetimefeature" class="form-select" id="selddatetimefeature">
                                <option value="DATE">Date</option>
                                <option value="low">low</option>
                                <option value="high">high</option>
                                <option value="open">open</option>
                                <option value="close">close</option>
                                <option value="adj_close">adj_close</option>
                
                            </select>
                            <label for="featureSelect" class="form-label">Select Feature</label>
                            <select name="selectedfeatures" class="form-select" id="featureSelect" multiple>
                                <!-- <option value="DATE">Date</option> -->
                                <option value="Price">Price</option>
                                <option value="low">low</option>
                                <option value="high">high</option>
                                <option value="open">open</option>
                                <option value="close">close</option>
                                <option value="adj_close">adj_close</option>
                
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save and Next</button>
                        <!-- <div id="" class="loader"></div> -->
                    </form>
                

            </div>
        </div>
    </div>